.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;  padding: 15px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(to right, #9225e6, #b56aff);
  padding-left: 30px;
  color: white;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: fixed;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  margin-top: 50px;
}

.meme {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 16vw;
  height: 4vh;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
}

.text {
  display: flex;
  top: 10px;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.text-next {
  bottom: 5px;
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.inputs {
  max-height: 200px;
}

/* Botões de controle */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

/* Estilos dos botões */
.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background: #9225e6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.button:hover {
  background: #b56aff;
}

/* Botão de download */
.download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.download:hover {
  background: rgba(255, 255, 255, 0.2);
}

.input {
  width: 100%; /* Faz o input ocupar quase toda a largura */
  padding: 4px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.invisible {
  display: none;
}

/* Quando o usuário clica no input */
.input:focus {
  border-color: #007bff; /* Muda a cor da borda */
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}

/* Se quiser um fundo mais estiloso */
.input::placeholder {
  color: #999;
  font-style: italic;
}

.input_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}